/* Buenas practicas +  aplicar el estilo del foster en el documento */
* {
  box-sizing: border-box;
  font-family:'Gabarito', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #777777;
}

/* Tratamos el hmtl en si como un scroll snap para que se alinee cada pagina automaticamente */
html {
  scroll-snap-type: y mandatory;
  scroll-padding-bottom: 30px;
}


.log_not_logged {
  display: none;
}

.LogoDesktop {
  display: block;
  width: 100%;
}

.logo {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Esta es la parte que hace que se ajuste la pagina al inicio */
section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
}

.hero {
  text-align: center;
}

.hero h1 {
  color: #f2f2f2;
  font-size: 2em;
  font-family: 'Gabarito', sans-serif;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 10%;
  z-index: 2;
  background-color: transparent;
}

h1 {
  font-family: 'Gabarito', sans-serif;
}

header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  z-index: 2;
  color: #000000;
  background-color: #777777
}

nav ul {
  display: flex;
  font-size: 1rem;
  transition-property: color;
  transition-duration: 0.5s;
  color: currentColor;
  font-weight: 500;
}

.interior-nav{
  display: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


.video-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.brand-section{
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-2 {
  width: 20%;
  height: 50vh;
}

.swiper-slide-2 {
  width: 100%;
  height: 20%;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-wrapper-2{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}


@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle span {
    background-color: #333;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Beyonders&display=swap');